*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.header{
    background-image: linear-gradient(to right, #0071BE , #4DB8FF);
}

.header .row{
    margin-top: 0px;
}


p{
    font-size: 14px;
    color:#fff;
    padding-top: 9px;
    

}

h4{
    padding-top: 90px;
    line-height: 90px;
    color: #fff;
}

h3{
    
    color: #fff;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{

    align-items: left;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 70%;
    max-width: 550px;
}


.btn{
    position: relative;
    bottom: 1px;
    
    display: inline-block;
    background: #fcfbfa;
    color: rgb(90, 81, 81);
    padding: 13px 34px;
    box-shadow: 0px 3px 6px #0000005C;
    margin: 20px 0 30px 0px;
    width: 160px;
    height: 40px;
    font-size: 10px;
    border-radius: 4px;
    transition: 0.5s;
}

.btn:hover{
    
    background: #b8b6b6;
}

a{
    text-decoration: none;
}

h5{
    visibility: hidden;
    line-height: 115px;
}

h6{
    visibility: hidden;
    text-decoration: none;
    line-height: 70px;
}


.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    background: #E8F9FB;
}



nav{
    flex: 1;
    text-align: left;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;

}

nav .hover{
    background: #0071BE;
}

.p2{
    color: black;
    font-size: 28px;
    line-height: 50px;
}

.p3{
    padding-top: 40px;
    color: black;
}

.row2{
    display: flex;
    align-items: left;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-3{
    flex-basis: 70%;
    max-width: 300px;
}

.col-3 img{

    padding: 50px 0;
    width: auto;
    height: auto;
}





/* .container{
    max-width: 1300px;
    margin: auto;
    padding-left: 10px;
    padding-right: 25px;
}

.row{
    align-items: left;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 80%;
    max-width: 800px;
}



.col-2 h3{
    color: #fff;
    line-height: 50px;
}

.btn{
    display: inline-block;
    background: #e6d0cd;
    color: rgb(161, 157, 157);
    padding: 14px 30px;
    margin: 30px 0;
    border-radius: 5px;
    height: 50px;
    text-align: center;
    transition: 0.5s;
}

.btn:hover{
    background: #817f7f;
}

h8{
    font-size: smaller;
}

.header{
    background-image: linear-gradient(to right, rgb(82, 150, 240) , rgb(67, 198, 238));
}


.header .row{
    margin-top: 0px;
}

p{
    line-height: 20px;
    color: #fff;
}

a{
    text-decoration: none;
    color: #555;
} */