*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.header{
    background-image: linear-gradient(to right, #0071BE , #4DB8FF);
}

.header .row{
    margin-top: 0px;
}


p{
    font-size: 14px;
    color:#fff;
    padding-top: 9px;
    

}

h4{
    padding-top: 90px;
    line-height: 90px;
    color: #fff;
}

h3{
    
    color: #fff;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{

    align-items: left;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2{
    flex-basis: 70%;
    max-width: 600px;
}

.abt-container{
    max-width:1080px;
    margin:0px;
    padding-left: 0px;
    padding-right: 20px;
    padding-top: 30px;
}

.row3{
    

    display: flex;
    align-items: left;
    flex-wrap: wrap;
    justify-content: space-around;
}
.offer .col-2{

        flex-basis: 70%;
        max-width: 300px;
    
}



.btn{
    position: relative;
    bottom: 1px;
    display: inline-block;
    background: #fcfbfa;
    color: rgb(90, 81, 81);
    padding: 13px 34px;
    box-shadow: 0px 3px 6px #0000005C;
    margin: 20px 0 30px 0px;
    width: 170px;
    height: 40px;
    font-size: 10px;
    border-radius: 4px;
    transition: 0.5s;
}

.btn:hover{
    
    background: #b8b6b6;
}

a{
    text-decoration: none;
}

h5{
    visibility: hidden;
    line-height: 115px;
}

h6{
    visibility: hidden;
    text-decoration: none;
    line-height: 70px;
}


.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    margin-top: 70px;
    background: #E8F9FB;
}



nav{
    flex: 1;
    text-align: left;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;

}

nav .hover{
    background: #0071BE;
}

.p2{
    color: black;
    font-size: 28px;
    line-height: 50px;
}

.p3{
    padding-top: 40px;
    color: black;
}



.small-container{
    max-width:1080px;
    margin:auto;
    padding-left: 35px;
    padding-right: 20px;

}

.row1{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}


.bidcontainer{
    position: sticky;
    max-width:1095;
    margin:-42px 20px;
    padding-left: 25px;
    padding-right: 20px;
}

div.scrollmenu {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    opacity: 1;
    font-size: 20px;
    color: black;
    overflow: hidden;
    white-space: nowrap;
    
  }
  
  div.scrollmenu a {
    display: inline-block;
    color: black;
    text-align: center;
    margin:20px 20px 20px 20px;
    padding: 14px;
    text-decoration: none;
  }
  
  div.scrollmenu a:hover {
    background-color: #777;
  }


.col-3{
    flex-basis: 70%;
    max-width: 600px;
}

.col-2 img{

    padding: 50px 0;

}

h2{
    line-height: 60px;
}

.about{
    display: flex;
    max-width: 1080px;
    margin-left: 35px;
}

.about h2{
    margin-top: 40px;
}

.group{
    
    margin-right: auto;
    width: 150px;
    margin-left: 50px;
    margin-top: 65px;
}

.group img{
    height: 129px;
    width: 129px;
    padding: 20px;
    margin-top: 15px;
    line-height: 0%;
    margin-left: 130px;
}

.learn{
    text-align: center;
    background: #FFDE9B;
}

.learn h2{
    color: #000;
}

.learn p{
    color: #000;
    padding-left: 10px;
    padding-right: 10px;
}

.works{
    text-align: center;
    margin-top: 25px;
}

.offer{
    display: flex;
    max-width: 1080px;
    margin-left: 35px;
}

.offer p{
    color: #777;
}


.offer .col-5{
    margin-top: 20px;
    flex-basis: 70%;
    max-width: 600px;
}

.offer .col-6 img{
    margin-top: 120px;
    margin-left: 190px;
}

.offer .col-5 h3{
    color:#000;
}


.group h1{
    margin-top: 30px;
}

.group h2{
    color: rgb(2, 2, 2);
    margin-top: 4px;
    height: 140px;
    text-align: start;
    padding-top: 60px;
}


.group h2{
    color: rgb(2, 2, 2);
    margin-top: 1px;
    height: 140px;
    text-align: start;
    padding-top: 60px;
}

.courses{
    margin-top: 30px;
    background: #E8F9FB;
}

.clk{
    display: flex;
    max-width: 1080px;
    margin-left: 35px;
}

.courses col-7{
    margin-left: 50px;
    background-image: url("coursebk.png");   
}

.courses col-7 img{
    margin-top: 70px;
    line-height: 30px;

}

.courses hr{
    border:none;
    background:#b5b5b5;
    height:1px;
    margin-top: 28px;
}



.courses h3{
    color:black;
}

.courses h2{
    margin-top: 4px;
}

.courses .col-8{
    margin-top: 50px;
}

.courses .col-8 h3{
    line-height: 20px;
    margin-top: 20px;
}

.courses .col-8 p{
    color: black;
}

.courses .col-8 img{
    margin-top: 6px;
}

.teach-container{

    max-width:1080px;
    margin:auto;
    display: flex;
    padding-left: 35px;
    padding-right: 20px;

}

.col-4 img{
    width: 200px;
}

.row5{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
    justify-content: space-around;
}

.col-4{

    flex-basis:25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
}

.col-4 h3{
    color: black;
    text-align: center;
    margin: -46px;
}



